@import '../helpers/variables';

.container {
    width: 100%;
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.no-gutters {

}

.row {
    display: grid;
    grid-auto-flow: column;
    grid-gap: $grid-gutter-width;
}

.col {

}