@import '../helpers/variables';

.container {
    width: 100%;
    padding-right: ($grid-gutter-width);
    padding-left: ($grid-gutter-width);
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.no-gutters {
    padding-left: -($grid-gutter-width / 2);
    padding-right: -($grid-gutter-width / 2);
}

%grid-column {
    display: grid;
    grid-auto-flow: column;
}

.row {
    @extend %grid-column;

    >div {
        margin-left: 24px;
        margin-right: 24px;
    }
}

.col-md-3 {
    
}